body {
    background-color: #f9f9f9;
    /*background-image: url("img/background.jpg");*/
    /*no-repeat:center;*/
    /*background-size:cover;*/
}


.site-main .mdl-card {
    margin-bottom: 35px;
}

article, aside, footer, header, main, nav, section {
    display: block;
}

.site-main .mdl-card__media {
    box-sizing: border-box;
    background-size: cover;
    background-color: #757575;
    padding: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    cursor: pointer;
    height: 280px;
}

.site-main .meta {
    box-sizing: border-box;
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: auto;
}

.site-main header h3 a {
    color: #fff;
    text-decoration: none;
}

.site-main .meta .entry-meta a {
    text-decoration: none;
    color: #757575;
    font-size: 12px;
    line-height: 16px;
}

.site-main .meta .avatar, .site-main .meta .entry-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.site-main .meta .avatar-img img {
    border-radius: 50%;
}

.site-main .meta .avatar-img {
    margin-right: 15px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: .125rem;
}

.page-item {
    display: inline;
}

.page-item:first-child .page-link, .page-item:last-child .page-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
}

.page-item:first-child .page-link {
    border-bottom-left-radius: 4em;
    border-top-left-radius: 4em;
}

.page-item.disabled .page-link, .page-item.disabled .page-link:focus, .page-item.disabled .page-link:hover {
    color: rgba(0,0,0,.26);
    pointer-events: none;
    cursor: not-allowed;
    background-color: transparent;
    border-color: #ddd;
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #004396;
    border-color: #004396;
}


.page-item:first-child .page-link {
    margin-left: 0;
    border-bottom-left-radius: .125rem;
    border-top-left-radius: .125rem;
}

.page-link {
    min-width: 2.6em;
    margin-right: .5em;
    text-align: center;
    border-radius: 4em;
}

.page-link{
    position: relative;
    float: left;
    padding: .5rem .75rem;
    margin-left: -1px;
    color: #004396;
    text-decoration: none;
    background-color: transparent;
    border: 0 solid #ddd;
}


.page-item:first-child .page-link, .page-item:last-child .page-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
}

.mdl-loading{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}
.mdl-loading-spinner{
    margin-bottom: 25%;
    margin-top: 25%;
    width: 90px;
    height:90px;
}
.mdl-comments-title{
    font-size: 18px;
}
.mdl-empty{
    text-align: center;
    min-height: 200px;
}
.md-70{
    font-size: 70px;
}